<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>edu.loganalyst.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/log_analyst/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>edu.loganalyst.server.UploadServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/log_analyst/upload</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Log_analyst.html</welcome-file>
	</welcome-file-list>

	<servlet>

		<servlet-name>UploadLogFile</servlet-name>
		<servlet-class>edu.loganalyst.server.Upload</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UploadLogFile</servlet-name>
		<url-pattern>/uploadFile</url-pattern>
	</servlet-mapping>
</web-app>
